body {
    background-color:gray;
    margin:0;
}

.key{
    background-color: skyblue;
    border: deepskyblue;
    text-align: center;
    border-radius: 50%;
    padding: 5px 10px;
    width: 15%;
    margin: 0.4px;
    cursor: pointer;

}

.key:hover {background-color: #61dafb }

.key:active {
    background-color: darkgoldenrod;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

.key1{
    background-color: grey;
}
.key2{
    background-color: darkslategrey;
}
.key3{
    background-color: lightgrey;
}
.key4{
    background-color: orangered;
}
.key5{
    background-color: green;
}
.key6{
    background-color: saddlebrown;
}
.key7{
    background-color: darkgoldenrod;
}
.key8{
    background-color: darkred;
}

.container {
    text-align: center;
    background-color: white;
    height: 150px;
    width: 200px;
    border-radius: 1px;
    display: inline-block;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3px 5px;
    zoom: 3;

}
