.output{

    text-align: center;
    background-color: lightgrey;
    height: 150px;
    width: 200px;
    border-radius: 1px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3px 5px;
    zoom: 3;

}